<%- include ../layouts/header.ejs %>
<div class="page-data">
    <form method="post" action="/employees/edit/<%=data[0].id%>">
        <table cellpadding="11">
            <tr>
                <td class="label">Name</td>
                <td><input type="text" name="name" value="<%=data[0].name%>" required /></td>
            </tr>
            <tr>
                <td class="label">Job</td>
                <td><input type="text" name="job" value="<%=data[0].job%>" required /></td>
            </tr>
            <tr>
                <td class="label">Department</td>
                <td><input type="text" name="department" value="<%=data[0].department%>" required /></td>
            </tr>
            <tr>
                <td class="label">Salary</td>
                <td><input type="number" name="salary" value="<%=data[0].salary%>" required /></td>
            </tr>
            <tr>
                <td class="label">Hire Date</td>
                <td><input type="date" name="hire_date" value="<%=data[0].hire_date%>" required /></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <button type="submit">Save</button>
                    <button type="button" onClick="cancelAdd()">Cancel</button>
                </td>
            </tr>
        </table>
    </form> 
</div>
<%- include ../layouts/footer.ejs %>
