<%- include ../layouts/header.ejs %>
<div class="page-data">
    <div class="data-btn">
        <button onClick="addUser();">+ Add</button>
    </div>
    <div class="data-table">
        <table>
            <tr>
                <th width="50px">No</th>
                <th>Name</th>
                <th>Job</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Hire Date</th>
                <th width="120px">Action</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].job%></td>
                <td><%=data[i].department%></td>
                <td><%=data[i].salary%></td>
                <td><%=data[i].hire_date%></td>
                <td>
                    <a class="a-inside edit" href="../employees/edit/<%=data[i].id%>">Edit</a>
                    <a class="a-inside delete" href="../employees/delete/<%=data[i].id%>">Delete</a>
                </td>
            </tr>
            <% }
            }else{ %>
            <tr>
                <td colspan="6">No user</td>
            </tr>
            <% } %>
        </table>
    </div>
</div>

<%- include ../layouts/footer.ejs %>
